@page "/Student"

@page "/student/{studentId:int}"
@using BlazorCrud.Shared
@using BlazorCrud.Client.Services
@using BachCrud.Client.Services.Contracts
@using BachCrud.Shared
@inject IStudentService StudentService;
@inject ICourseService CourseService; 
@inject NavigationManager Navigation
<h3>@_title</h3>
<EditForm Model="_student" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group row">
   
        <div class="col-md-4">
            <label  class="form-label">First Name</label>
            <InputText id="firstName" class="form-control" @bind-Value="_student.FirstName"></InputText> 
        </div>
       
        <div class="col-md-4">
            <label class="form-label">Last Name</label>
            <InputText id="lastName" class="form-control"  @bind-Value="_student.LastName"></InputText> 
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <label class="form-label">Email</label>
                <InputText id="email" class="form-control" @bind-Value="_student.Email"></InputText> 
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label class="form-label">Age</label>
                <InputNumber id="age"  class="form-control" @bind-Value="_student.Age"></InputNumber> 
            </div>
            <div class="col-md-4">
                <label class="form-label">Phone number</label>
                <InputText id="phoneNumber"  class="form-control" @bind-Value="_student.PhoneNumber"></InputText> 
            </div>
        </div>   
        
        <div class="col-md-4">
            <label class="form-label">Register Date</label> 
            <InputDate id="Register" class="form-control" @bind-Value="_student.RegistrationDate"></InputDate>
        </div>
        <div class="col-md-4">
            
            <label class="form-label">Courses</label>
            <InputSelect  class="form-select" @bind-Value="_student.CourseId">
                <option value="0">---Select--- </option>
                @foreach (var item in _listCourseDtos)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            
            
            </InputSelect> 
            
        </div>
        
         
      
        
    </div>
    <button type="submit" class="btn btn-primary mt-3 me-2">@_btnText</button>
    <a class="btn btn-warning mt-3 me-2" href="/">Back</a>
   
</EditForm>



@code {

    [Parameter]
    public int StudentId { get; set; } = 0;

    string _title = string.Empty;
    string _btnText = string.Empty;

    StudentDTO _student = new StudentDTO();
    List<CourseDTO> _listCourseDtos = new List<CourseDTO>();

    protected override async Task OnInitializedAsync()
    {
        if (StudentId != 0)
        {
            _student = await StudentService.Search(StudentId);
            _btnText = "Update";
            _title = "Update Student";

        }
        else
        {
            _student.RegistrationDate = DateTime.Today;
            _btnText = "Save";
            _title = "New Student";

        }

        _listCourseDtos = await CourseService.List();



    }

    private async Task OnValidSubmit()
    {
        int generatedId = 0;

        if (StudentId == 0)
        {
            generatedId = await StudentService.Save(_student); 
        }
        else
        {
            generatedId = await StudentService.Edit(_student); 
            
        }
        if (generatedId != 0)
        {
            Navigation.NavigateTo("/");
        }
    }

}